// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #45474D;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-intro {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  img{
    margin:0 0 10px;
    max-width:60%;
  }
}
