<% content_for :title do %>Xero Caffeinated<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" 
          data-view="Intro" 
          data-img="xero.png" 
          data-title="Xero. Caffeinated." 
          data-img="xero.png" 
          data-text=""></div>
    </li>    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="caffeine_totals" data-view="TotalToday" data-title="Coffees consumed so far today" data-moreinfo="by Xero staff worldwide"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="caffeine_dpc" 
          data-view="Meter" 
          data-title="% of Daily Total" 
          data-suffix="%" 
          data-min="0" 
          data-max="100"
          ></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="caffeine_in_numbers" 
          data-view="List" 
          data-unordered="true" 
          data-title="Coffee Numbers"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="caffeine_hour_map" data-view="Graph" data-title="Coffees Per Hour" data-moreinfo="since midnight this morning"></div>
    </li>
   

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-moreinfo="#xero #coffee"></div>
    </li>
    
  </ul>

  <center><div style="font-size: 12px">The information displayed above is example information only and is not authorized by Xero.</div></center>
</div>