// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #585a60;

$title-color:       rgba(255, 255, 255, 0.9);
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$tick-color:        rgba(0, 0, 0, 0.4);


// ----------------------------------------------------------------------------
// Widget-graph styles
// ----------------------------------------------------------------------------
.widget-graph {

  background-color: $background-color;
  position: relative;


  svg {
    position: absolute;
    // opacity: 0.4;
    fill-opacity: 0.8;
    left: 0px;
    top: 0px;
  }

  .title, .value {
    position: relative;
    z-index: 99;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
    bottom:auto;
    position: relative;
    z-index: 10;
  }
.x_grid_d3{ display:none; }

.x_ticks_d3{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    color: $tick-color;
    opacity: 0.5;
    padding-bottom: 3px;
    .title {}
  }

  .y_ticks {
    font-size: 15px;
    fill: $tick-color;
    fill-opacity: 1;
  }

  .domain {
    display: none;
  }

}
